@import 'tailwindcss';

@theme {
    /* Primarios Principales */
    --color-artist: #3C83F6;
    --color-producer: #FFD701;

    /* Variantes de Artista */
    --color-artist-dark: #131722;
    --color-artist-muted: #1F2D47;
    /* Tu 70% */

    /* Variantes de Productor */
    --color-producer-dark: #2E2619;

    /* Escala de Neutros / Fondo */
    --color-dark: #09090B;
    --color-gray-dark: #18181B;
    --color-gray-light: #27272A;
    --color-subtitle: #A6A6A6;
    --color-light: #F1F5F9;

    /* Estados */
    --color-success: #22C55E;
    --color-error: #EF4444;
}

/* Estilo general para todos los scrollbars */
::-webkit-scrollbar {
    width: 8px;
    /* Ancho de la barra vertical */
    height: 8px;
    /* Alto de la barra horizontal */
}

/* El fondo de la barra (el carril) */
::-webkit-scrollbar-track {
    background: transparent;
}

/* La pieza que se mueve (el indicador) */
::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    /* Un gris oscuro que resalte sutilmente sobre el fondo dark */
    border-radius: 10px;
    border: 2px solid #0b0b0b;
    /* Crea un efecto de padding para que se vea más delgada */
}

/* Cambia el color cuando el usuario pasa el mouse por encima */
::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
    /* Usamos el color 'artist' (azul) para el hover */
}